[submodule "cpython"]
	path = deps/cpython
	url = https://github.com/RedisLabsModules/cpython.git
[submodule "deps/readies"]
	path = deps/readies
	url = https://github.com/RedisLabsModules/readies.git
[submodule "deps/libevent"]
	path = deps/libevent
	url = https://github.com/libevent/libevent.git
[submodule "deps/hiredis"]
	path = deps/hiredis
	url = https://github.com/redis/hiredis.git
