version: 2.1

defaults:
  default_jobs: &default_jobs
    - centos
    - ubuntu

commands:
  ci_steps:
    parameters:
      platform:
        type: string
    steps: 
      - checkout
      - run:
          name: Submodule checkout
          command: git submodule update --init --recursive
      - run:
          name: System setup
          command: BREW_NO_UPDATE=1 python system-setup.py
      - run:
          name: Build
          command: |
            make get_deps
            make all OS_VERSION=<<parameters.platform>> SHOW=1
      - run:
          name: Test
          command: make test
      - store_test_results:
          path: pytest/logs
      - persist_to_workspace:
          root: artifacts
          paths:
            - 'snapshot/*.zip'
            - 'snapshot/*.tgz'
            - 'release/*.zip'
            - 'release/*.tgz'

jobs:
  ubuntu:
    docker:
      - image: 'redislabsmodules/rmbuilder:latest'
    environment:
      - BUILD_DIR: build-debian
    steps:
      - run:
          name: Redis_5_upgrade
          command: cd ..; git clone https://github.com/antirez/redis.git; cd ./redis; git fetch; git checkout 5.0.6; make; make install
      - ci_steps:
          platform: ubuntu
  
  centos:
    docker:
      - image: 'redislabsmodules/rmbuildercentos:latest'
    environment:
      - BUILD_DIR: build-centos
    steps:
      - run:
          name: Redis_5_upgrade
          command: cd ../redis; git fetch; git checkout 5.0.6; make; make install
      - ci_steps:
          platform: redhat

  macos:
    macos:
      xcode: 10.2.1
    steps:
      - run:
          name: Fix macOS Python installation
          command: |
            brew update || true
            brew reinstall -f python2
      - ci_steps:
          platform: macosx

  build-multiarch-docker:
    machine:
      enabled: true
      image: ubuntu-1604:201903-01
    steps:
      - checkout
      - run:
          name: Setup Docker client experimental features
          command: |
            sudo ./deps/readies/bin/getdocker --just-enable-exp
            docker version
      - run:
          name: Build
          command: |
            sudo docker login -u redisfab -p $DOCKER_REDISFAB_PWD
            make -C build/docker build
            sudo make -C build/docker publish

  deploy_snapshots:
    docker:
      - image: 'redislabsmodules/rmbuilder:latest'
    steps:
      - attach_workspace:
          at: artifacts
      - run:
          name: Deploy Snapshots to S3
          command: >-
            for f in artifacts/snapshot/*.zip artifacts/snapshot/*.tgz; do
              aws s3 cp $f s3://redismodules/redisgears/snapshots/ --acl public-read;
            done

  deploy_releases:
    docker:
      - image: 'redislabsmodules/rmbuilder:latest'
    steps:
      - attach_workspace:
          at: artifacts
      - run:
          name: Deploy Releases to S3
          command: >-
            for f in artifacts/release/*.zip artifacts/release/*.tgz; do
              aws s3 cp $f s3://redismodules/redisgears/ --acl public-read;
            done

  deploy_docs:
    docker:
      - image: 'redislabsmodules/rmbuilder:latest'
    steps:
      - checkout
      - run:
          name: Build Docs
          command: mkdocs build
      - run:
          name: Deploy Docs to S3
          command: |
            aws s3 cp site s3://oss.redislabs.com/redisgears/ --acl public-read --recursive


workflows:
  version: 2

  default_flow:
    jobs:
#      - ubuntu:
#          filters:
#            branches:
#              only: /.*/
#            tags:
#              only: /.*/
#      - centos:
#          filters:
#            branches:
#              only: /.*/
#            tags:
#              only: /.*/
#      - macos:
#          filters:
#            branches:
#              ignore: /.*/
#            tags:
#              only: /^v[0-9].*/
      - macos:
          filters:
            branches:
              only: /.*/
            tags:
              only: /.*/
#      - build-multiarch-docker:
#          filters:
#            branches:
#              # only: /.*/
#              ignore: /.*/
#            tags:
#              # only: /.*/
#              only: /^v[0-9].*/
#      - deploy_snapshots:
#          requires: *default_jobs
#          filters:
#            branches:
#              only:
#                - master
#                - deploy_snapshots_1
#      - deploy_releases:
#          requires: *default_jobs
#          filters:
#            branches:
#              ignore: /.*/
#            tags:
#              only: /^v[0-9].*/
#
#      - deploy_docs:
#          filters:
#            branches:
#              only: master

  nightly:
    triggers:
      - schedule:
          cron: "20 17 * * *"
          filters:
             branches:
               only:
                 - master
    jobs:
      - macos
