version: 2.1

commands:

  early_returns:
    steps:
      - run:
          # If this build is from a fork, stop executing the current job and return success.
          # This is useful to avoid steps that will fail due to missing credentials.
          name: Early return if this build is from a forked PR
          command: |
            if [ -n "$CIRCLE_PR_NUMBER" ]; then
              echo "Nothing to do for forked PRs, so marking this step successful."
              circleci step halt
            fi
      - run:
          name: Early return if this is a docs build
          command: |
            if [[ $CIRCLE_BRANCH == *docs ]]; then
              echo "Identifies as documents PR, no testing required."
              circleci step halt
            fi
      - run:
          name: Early return if this branch should ignore CI
          command: |
            if [[ $CIRCLE_BRANCH == *noci ]]; then
              echo "Identifies as actively ignoring CI, no testing required."
              circleci step halt
            fi

  setup-executor:
    steps:
      - run:
          name: Setup executor
          command: |
            apt-get -qq update
            apt-get -q install -y git openssh-client curl ca-certificates make tar gzip
            bash <(curl -fsSL https://get.docker.com)
      - setup_remote_docker:
          docker_layer_caching: true

  build-steps:
    parameters:
      platform:
        type: string
      build_params:
        type: string
        default: ""
      test_params:
        type: string
        default: ""
      redis_version:
        type: string
        default: "6"
      getredis_params:
        type: string
        default: ""
    steps:
      - checkout
      - run:
          name: Submodule checkout
          command: git submodule update --init --recursive
      - run:
          name: System setup
          command: |
            ./deps/readies/bin/getpy2
            BREW_NO_UPDATE=1 python2 system-setup.py
          no_output_timeout: 20m
      - run:
          name: Install Redis
          command: python2 ./deps/readies/bin/getredis -v <<parameters.redis_version>> --force <<parameters.getredis_params>>
      - run:
          name: Build
          command: |
            make get_deps
            make all OS_VERSION=<<parameters.platform>> <<parameters.build_params>> SHOW=1
      - run:
          name: Test
          command: make test <<parameters.test_params>>
          no_output_timeout: 30m
      - store_artifacts:
          path: pytest/logs

  platform-build-steps:
    parameters:
      platform:
        type: string
    steps:
      - early_returns
      - setup-executor
      - checkout
      - run:
          name: Setup
          command: |
            git submodule update --init --recursive
            ./deps/readies/bin/getpy2
      - run:
          name: Build for platform
          command: |
            docker login -u redisfab -p $DOCKER_REDISFAB_PWD
            pushd build/docker
            make build publish $(./version-params) OSNICK=<<parameters.platform>> X64=1 ARTIFACTS=1 TEST=1 SHOW=1
            popd
            logs_d=pytest/logs/<<parameters.platform>>
            mkdir -p $logs_d
            tar -C $logs_d -xzf artifacts/pytest-logs*.tgz
          no_output_timeout: 40m
      - store_artifacts:
          path: pytest/logs
      - persist_to_workspace:
          root: artifacts
          paths:
            - 'snapshot/*.zip'
            - 'snapshot/*.tgz'
            - 'release/*.zip'
            - 'release/*.tgz'

jobs:
  linux-debian:
    docker:
      - image: redisfab/rmbuilder:6.0.9-x64-buster
    parameters:
      redis_version:
        type: string
        default: "6"
    steps:
      - build-steps:
          platform: debian
          redis_version: <<parameters.redis_version>>

  valgrind:
    docker:
      - image: redisfab/rmbuilder:6.0.9-x64-buster
    steps:
      - build-steps:
          platform: debian
          build_params: VALGRIND=1
          test_params: VALGRIND=1
          getredis_params: --valgrind

  platform-build:
    parameters:
      platform:
        type: string
    docker:
      - image: debian:buster
    steps:
      - platform-build-steps:
          platform: <<parameters.platform>>

  macos:
    macos:
      xcode: 11.3.0
    steps:
      - run:
          name: Fix macOS setup
          command: |
            # brew update || true
            # workaround for ramp pack failure
            sudo mkdir -p /var/opt/redislabs
            sudo chmod 777 /var/opt/redislabs
      - build-steps:
          platform: macosx

  build-multiarch-docker:
    machine:
      enabled: true
      image: cimg/base:2020.01
    steps:
      - checkout
      - run:
          name: Setup Docker client experimental features
          command: |
            sudo ./deps/readies/bin/getdocker --just-enable-exp
            docker version
      - run:
          name: Build
          command: |
            sudo docker login -u redisfab -p $DOCKER_REDISFAB_PWD
            cd build/docker
            make build
            sudo make publish

  deploy_snapshots:
    docker:
      - image: redisfab/rmbuilder:6.0.9-x64-buster
    steps:
      - attach_workspace:
          at: artifacts
      - run:
          name: Deploy Snapshots to S3
          command: |
            for f in artifacts/snapshot/*.zip artifacts/snapshot/*.tgz; do
              aws s3 cp $f s3://redismodules/redisgears/snapshots/ --acl public-read
            done

  deploy_releases:
    docker:
      - image: redisfab/rmbuilder:6.0.9-x64-buster
    steps:
      - attach_workspace:
          at: artifacts
      - run:
          name: Deploy Releases to S3
          command: |
            for f in artifacts/release/*.zip artifacts/release/*.tgz; do
              aws s3 cp $f s3://redismodules/redisgears/ --acl public-read
            done


on-any-branch: &on-any-branch
  filters:
    branches:
      only: /.*/
    tags:
      only: /.*/

never: &never
  filters:
    branches:
      ignore: /.*/
    tags:
      ignore: /.*/

on-master: &on-master
  filters:
    branches:
      only: master
    tags:
      ignore: /.*/

on-integ-branch: &on-integ-branch
  filters:
    branches:
      only:
        - master
        - /^\d+\.\d+.*$/
    tags:
      ignore: /.*/

not-on-integ-branch: &not-on-integ-branch
  filters:
    branches:
      ignore:
        - master
        - /^\d+\.\d+.*$/
    tags:
      ignore: /.*/

on-version-tags: &on-version-tags
  filters:
    branches:
      ignore: /.*/
    tags:
      only: /^v[0-9].*/

on-integ-and-version-tags: &on-integ-and-version-tags
  filters:
    branches:
      only:
        - master
        - /^\d+\.\d+.*$/
    tags:
      only: /^v[0-9].*/


workflows:
  version: 2
  default_flow:
    jobs:
      - linux-debian:
          <<: *not-on-integ-branch
      - linux-debian:
          name: build-with-redis-<< matrix.redis_version >>
          <<: *on-integ-branch
          matrix:
            parameters:
              redis_version: ["6.0", "6.2"]
      - platform-build:
          <<: *on-integ-and-version-tags
          context: common
          matrix:
            parameters:
              platform: [centos7, bionic, xenial, focal]
      - valgrind:
          <<: *on-integ-and-version-tags
          # <<: *on-any-branch
      - macos:
          <<: *on-integ-and-version-tags
      - build-multiarch-docker:
          context: common
          <<: *never
          # <<: *on-integ-and-version-tags
      - deploy_snapshots:
          context: common
          requires:
            - platform-build
          <<: *on-integ-branch
          # <<: *on-any-branch
      - deploy_releases:
          context: common
          requires:
            - platform-build
          <<: *on-version-tags

  nightly:
    triggers:
      - schedule:
          cron: "20 17 * * 0,3"
          filters:
            branches:
              only: master
    jobs:
      - macos
      - valgrind
      - linux-debian:
          name: build-with-redis-<< matrix.redis_version >>
          matrix:
            parameters:
              redis_version: ["6.0", "6.2"]
