version: 2

defaults:
  ci_steps: &ci_steps
    - checkout
    - run:
        name: Submodule checkout
        command: git submodule update --init --recursive
    - run:
        name: Install_Deps
        command: pip install git+https://github.com/RedisLabs/RAMP --upgrade;pip install wheel;pip install setuptools --upgrade;pip install git+https://github.com/RedisLabsModules/RLTest.git@master;pip install redis-py-cluster;apt install -y lsb-release;apt install -y xxd;apt-get install -y zip unzip
    - run:
        name: Build
        command: make get_deps;make ramp_pack WITHPYTHON=1 
    - run:
        name: Test
        command: cd ./pytest; ./run_tests.sh
    - persist_to_workspace:
        root: ./snapshot
        paths:
          - '*.zip'
    - persist_to_workspace:
        root: ./release
        paths:
          - '*.zip'

  default_jobs: &default_jobs
    - centos
    - ubuntu

jobs:
  ubuntu:
    docker:
      - image: 'redislabsmodules/rmbuilder:latest'
    environment:
      - BUILD_DIR: build-debian

    steps: *ci_steps
  
  centos:
    docker:
      - image: 'redislabsmodules/rmbuildercentos:latest'
    environment:
      - BUILD_DIR: build-el

    steps:
      - run:
          name: Redis_5_upgrade
          command: cd ../redis;git fetch;git checkout 5.0.1;make;make install
      - checkout
      - run:
          name: Submodule checkout
          command: git submodule update --init --recursive
      - run:
          name: Install_Deps
          command: pip install git+https://github.com/RedisLabs/RAMP --upgrade;pip install wheel;pip install setuptools --upgrade;pip install git+https://github.com/RedisLabsModules/RLTest.git@master;pip install redis-py-cluster;yum install -y redhat-lsb-core;yum install -y vim-common
      - run:
          name: Build
          command: make get_deps;make ramp_pack WITHPYTHON=1
      - run:
          name: Test
          command: cd ./pytest; ./run_tests.sh
      - persist_to_workspace:
          root: ./artifacts
          paths:
            - '*.zip'
      - persist_to_workspace:
          root: ./release
          paths:
            - '*.zip'

  deploy_snapshots:
    docker:
      - image: 'redislabsmodules/rmbuilder:latest'
    steps:
      - attach_workspace:
          at: ./snapshot
      - run:
          name: Deploy Snapshots to S3
          command: >-
            for f in ./snapshot/*.zip; do
              aws s3 cp $f s3://redismodules/redisgears/snapshots/ --acl public-read;
            done

  deploy_release:
    docker:
      - image: 'redislabsmodules/rmbuilder:latest'
    steps:
      - attach_workspace:
          at: ./release
      - run:
          name: Deploy Snapshots to S3
          command: >-
            for f in ./release/*.zip; do
              aws s3 cp $f s3://redismodules/redisgears/ --acl public-read;
            done


workflows:
  version: 2

  default_flow:
    jobs:
      - ubuntu:
          filters:
            branches:
              only: /.*/
            tags:
              only: /.*/
      - centos:
          filters:
            branches:
              only: /.*/
            tags:
              only: /.*/
      - deploy_snapshots:
          requires: *default_jobs
          filters:
            branches:
              only:
                - master
                - deploy_snapshots_1
      - deploy_release:
          requires: *default_jobs
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v[0-9].*/
