version: 2

defaults:
  ci_steps: &ci_steps
    - checkout
    - run:
        name: Submodule checkout
        command: git submodule update --init --recursive
    - run:
        name: System_setup
        command: apt install python3.5; ln -sf /usr/bin/python3.5 /usr/bin/python3; ./system-setup.py
    - run:
        name: Build
        command: make get_deps; make ramp_pack WITHPYTHON=1 OS_VERSION=ubuntu
    - run:
        name: Test
        command: cd ./pytest; ./run_tests.sh
    - persist_to_workspace:
        root: ./artifacts
        paths:
          - 'snapshot/*.zip'
          - 'release/*.zip'

  default_jobs: &default_jobs
    - centos
    - ubuntu

jobs:
  ubuntu:
    docker:
      - image: 'redislabsmodules/rmbuilder:latest'
    environment:
      - BUILD_DIR: build-debian

    steps: *ci_steps
  
  centos:
    docker:
      - image: 'redislabsmodules/rmbuildercentos:latest'
    environment:
      - BUILD_DIR: build-el

    steps:
      - run:
          name: Redis_5_upgrade
          command: cd ../redis; git fetch; git checkout 5.0.1; make; make install
      - checkout
      - run:
          name: Submodule checkout
          command: git submodule update --init --recursive
      - run:
          name: System_setup
          command: yum install -y python36; python36 system-setup.py
      - run:
          name: Build
          command: make get_deps;make ramp_pack WITHPYTHON=1 OS_VERSION=redhat
      - run:
          name: Test
          command: cd ./pytest; ./run_tests.sh
      - persist_to_workspace:
          root: ./artifacts
          paths:
            - 'snapshot/*.zip'
            - 'release/*.zip'

  deploy_snapshots:
    docker:
      - image: 'redislabsmodules/rmbuilder:latest'
    steps:
      - attach_workspace:
          at: ./artifacts
      - run:
          name: Deploy Snapshots to S3
          command: >-
            for f in ./artifacts/snapshot/*.zip; do
              aws s3 cp $f s3://redismodules/redisgears/snapshots/ --acl public-read;
            done

  deploy_release:
    docker:
      - image: 'redislabsmodules/rmbuilder:latest'
    steps:
      - attach_workspace:
          at: ./artifacts
      - run:
          name: Deploy Snapshots to S3
          command: >-
            for f in ./artifacts/release/*.zip; do
              aws s3 cp $f s3://redismodules/redisgears/ --acl public-read;
            done

  deploy_docs:
    docker:
      - image: 'redislabsmodules/rmbuilder:latest'
    steps:
      - checkout
      - run:
          name: Build Docs
          command: mkdocs build
      - run:
          name: Deploy Docs to S3
          command: >-
            aws s3 cp site s3://oss.redislabs.com/redisgears/ --acl
            public-read --recursive


workflows:
  version: 2

  default_flow:
    jobs:
      - ubuntu:
          filters:
            branches:
              only: /.*/
            tags:
              only: /.*/
      - centos:
          filters:
            branches:
              only: /.*/
            tags:
              only: /.*/
      - deploy_snapshots:
          requires: *default_jobs
          filters:
            branches:
              only:
                - master
                - deploy_snapshots_1
      - deploy_release:
          requires: *default_jobs
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v[0-9].*/

      - deploy_docs:
          filters:
            branches:
              only: master
