[package]
name = "redisgears_v8_plugin"
version = "0.1.0"
edition = "2021"
license = "Redis Source Available License 2.0 (RSALv2) or the Server Side Public License v1 (SSPLv1)"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
redis-module = { git = "https://github.com/RedisLabsModules/redismodule-rs", branch = "lock_from_detached_context", default-features = false, features = ["min-redis-compatibility-version-7-2"] }
v8_rs = { git = "https://github.com/RedisGears/v8-rs" }
v8_rs_derive = { git = "https://github.com/RedisGears/v8-rs" }
redisgears_plugin_api = { path = "../redisgears_plugin_api/" }
redisgears-macros-internals = { path = "../redisgears_macros_internals/" }
serde_json = "1"
serde = "1"
lazy_static = "1"

[build-dependencies]

[lib]
crate-type = ["cdylib", "rlib"]
name = "redisgears_v8_plugin"
